COMPOSE_PROJECT_NAME=myapp
APP_ENV=dev
POSTGRES_DB=myapp_db
POSTGRES_USER=myapp_user
POSTGRES_PASSWORD=CHANGE_ME
PGADMIN_EMAIL=admin@myapp.local
PGADMIN_PASSWORD=CHANGE_ME
PGADMIN_PORT=5050
RABBITMQ_USER=myapp_rabbit
RABBITMQ_PASSWORD=CHANGE_ME
RABBITMQ_VHOST=myapp
RABBITMQ_MANAGEMENT_PORT=15672
FRANKENPHP_VERSION=1
BACK_PORT=8080
APP_SECRET=CHANGE_ME_32_CHARS_MIN
CORS_ALLOW_ORIGIN=^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=CHANGE_ME
NODE_VERSION=22
FRONT_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8080/api
NEXT_PUBLIC_APP_NAME=MyApp
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=15d
LOKI_PORT=3100
TEMPO_PORT=3200
GRAFANA_PORT=4000
GRAFANA_USER=admin
GRAFANA_PASSWORD=CHANGE_ME
MAIL_MYAPP_SMTP_PORT=1025
MAIL_MYAPP_UI_PORT=8025
